<footer>
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col">
                <h3>Contact Us</h3>
                <p><i class="fas fa-map-marker-alt fa-fw"></i>Ashongman Estate</p>
                <p><i class="fas fa-phone-alt fa-fw"></i>Call +233 241112233</p>
                <p><i class="fas fa-envelope fa-fw"></i>takeabite56@gmail.com</p>

                <div class="handles">
                    <p>
                        <a href="https://twitter.com/yourprofile" target="_blank">
                        <i class="fab fa-twitter fa-fw"></i>
                        </a>
                    </p>
                    <p>
                        <a href="https://facebook.com/yourprofile" target="_blank">
                        <i class="fab fa-facebook-f fa-fw" id="fb"></i>
                        </a>
                    </p>
                    <p>
                        <a href="https://instagram.com/yourprofile" target="_blank">
                        <i class="fab fa-instagram fa-fw"></i>
                        </a>
                    </p>                    
                </div>
            </div>

            <div class="footer-col">
                <h3>Take-A-Bite</h3>
                <p>
                    Enjoy your favourite meals at the  click of a button.<br>
                    We have the best meals at the best prices because<br>
                    we really care about you.
                </p>
            </div>

            <div class="footer-col" id="right">
                <h3>Opening Hours</h3>
                <p>Mondays to Wednesdays</p>
                <p>9:00AM - 10:00PM</p>
                <p>Thursdays to Saturdays</p>
                <p>12:00AM - 7:00PM</p>
            </div>
        </div>
        <p class="copy">&copy; 2024 Take-A-Bite Food Inn</p>
    </div>
</footer>