main {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    /*border: solid 3px green;*/
}

.cart-container .main-header {
    background-color: #f8f7eb;
    /*border-bottom: 1px solid #ddd;*/
    padding: 15px;
    margin-bottom: 30px;
    font-size: calc(1rem + 1.5vw);
    /*text-align: center;*/
    /*position: relative;*/
}

.cart-list, .cart-summary, .main-header, .delivery-option, .payment-method {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f7eb;   
}



.cart-items {
    /*flex: 0 1 60%;*/
    /*border: #5cb85c solid 2px;*/
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    /*flex-wrap: wrap;*/
}

.main-row {
    width: 65%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cart-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    /*border: solid yellow 2px;*/
    width: 100%;
    flex-wrap: wrap;
}

.cart-item {
    display: flex;
    align-items: baseline;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
    
    /*border: solid brown 2px;*/
}

.cart-item:first-child {
    padding-top: 0;
}

/*.cart-item, .add-more {
    padding-top: 15px;
}*/


.cart-list, .delivery-option, .payment-method {
    padding: 20px 15px;
    /*border: solid blue 2px;*/
}

.cart-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*border: solid palevioletred 10px;*/
}

.img-price {
    /*border: solid brown 2px;*/
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.name-price {
    /*border: solid 2px orange;*/
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    /*align-items:flex-end;*/
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-item-total, .delivery-option h4,
.payment-method h4, .empty-cart a {
    font-family: "Nunito", sans-serif;
}

.cart-item-total {
    /*margin-bottom: auto;*/
    /*margin-left: auto;*/
    /*border: solid 2px black;*/

    
    /*font-size: 1.2rem;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    /*width: 150px;*/
    /*border: #af3333 solid 2px;*/
    margin-left: auto;
}

.cart-item-total span:first-child {
    font-size: 1.2rem;
    font-weight: 900;
}

.cart-item-total span:last-child {
    font-family: 'Open Sans', 'Heebo', sans-serif;
    font-weight: 600;
}



.cart-item-name {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    
    /*border: purple 2px solid;*/
}


.cart-item-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    /*border: solid red 2px;*/
}

.quantity-remove {
    /*border: solid 2px greenyellow;*/
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}



.quantity-counter {
    display: flex; /* Aligns the elements horizontally */
    align-items: center; /* Centers the text vertically within the counter */
    border: 1px solid #a9b88c; /* Border for the entire counter */
    border-radius: 30px; /* Rounded corners for the counter */
    overflow: hidden; /* Ensures no part of the buttons overflow outside the border */
    width: 120px;
    gap: 4px;
    /*border: red solid 3px;*/
    font-weight: 900;
    font-size: 1.1rem;
}

.quantity-counter button {
    flex: 1; /* Ensures both buttons take equal width */
    background-color: transparent; /* Removes default button background */
    border: none; /* Removes default button border */
    /*color: #333;*/ /* Text color for the buttons */
    cursor: pointer; /* Changes cursor to pointer on hover */
    /*font-size: 16px;*/ /* Font size for the buttons */
    padding: 5px; /* Padding around the button text */
    color: #273b02;
    font-size: 1.2rem;
    pointer-events: auto;
}


.quantity-counter span {
    flex: 2; /* Ensures the quantity is twice as wide as the buttons */
    text-align: center; /* Centers the quantity text */
    font-size: 1rem; /* Font size for the quantity text */
    font-weight: 400;
    padding: 5px 0; /* Padding for the quantity text */
}



.remove-item {
    background-color: #dc4d4d;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1rem;
}

.remove-item:hover {
    background-color: #af3333;
}

.add-more {
    
    /*font-size: 24px;*/
    border-top: 1px solid #ddd;
    padding-top: 20px;
    /*border: solid greenyellow 3px;*/
}

.add-more a {
    /*border: yellow 2px solid;*/
    text-decoration: none;
    color: #4b6b0f;
    
    font-weight: 900;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
}

.add-more a i {
    margin-right: 5px;
}


.payment-method label {
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    padding-top: 6px;
    padding-bottom: 6px;
    /*border: solid brown 2px;*/
}

.payment-method label:last-child {
    border: none;
}


.payment-method input {
    margin-right: 10px;
}



.cart-summary {
    flex: 0 1 35%;

    padding: 16px 15px 22px 15px;
    
    /*padding-top: 6px;
    padding-bottom: 30px;*/
    
    
}

.cart-summary h3 {
    font-weight: 900;
    font-size: 1.4rem;
    margin-bottom: 5px;
    /*margin-bottom: 15px;*/
}


.cart-subtotal, .cart-total {
    font-weight: 900;
}

.cart-summary p {
    margin-bottom: 3px;
}

.cart-total {
    border-top: 1px solid #ddd;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.cart-summary .cart-delivery {
    display: none;
    /*border: solid 3px brown;*/
}

.cart-summary p,
.cart-delivery {
    display: flex;
    justify-content: space-between;
}

.cart-delivery {
    display: none; /* Default hidden */
}

.cart-delivery.visible {
    display: flex; /* Show when visible class is added */
}s

.checkout-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.checkout-btn {
    width: 90%;
    padding: 8px;
    font-size: 1.3rem;
    margin-top: 0px;
}

.checkout-btn, .empty-cart a {
    background-color: #e08f15;  
    cursor: pointer;
    /*border-radius: 5px;*/
    border: solid #e09423 1px;    
}


.checkout-btn:hover, .empty-cart a:hover {
    background-color: #b87510;
}

.checkout-btn, .remove-item, .empty-cart a {
    font-weight: 700;
    
    color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;

}

.cart-list, .cart-summary, .main-header, .delivery-option, .payment-method {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f7eb;   
}

.payment-method label {
    display: block;
}

.delivery-option {
    /*min-width: 0;
    width: 100%;
    display: flex;
    flex-direction: column;*/
    /*flex-wrap: wrap;*/
    /*height: 90px;*/
    /*border: #273b02 solid 3px;
    justify-content: space-between;*/
    padding-top: 15px;
    padding-bottom: 15px;

}

.delivery-option h4{
    width: 100%;
    margin-bottom: 10px;

}

/* Adjusting the select element */
.delivery-option select {
    /*width: 100%;*/
    width: 100%;
    font-size: 1rem;
    color: #273b02;
    padding: 6px 10px; /* Reduced padding */
    font-family: 'Open Sans', 'Heebo', sans-serif !important;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Show "..." for long text */
    border: solid #273b02 1px;
    background-color: #f8f7eb;
    border-radius: 6px;
    padding-left: 25px;
}

/* Optional: If you want the options to behave similarly */
.delivery-option select option {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.empty-cart {
    /*border: solid purple 3px;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-family: 'Open Sans', 'Heebo', sans-serif;
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
}

.empty-cart p {
    font-size: 1.4rem;
    margin-bottom: 15px;
    /*font-weight: 600;*/
}

.empty-cart div {
    margin-bottom: 8px;
    /*font-size: 1.1rem;*/
}

.empty-cart a {
    color: #f5f3d4;
    width: 150px;
    text-align: center;
    font-size: 1.2rem;
    padding: 4px;
    /*border: white solid 5px;*/
    /*font-weight: 400;*/
}

/*.empty-cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
    border: solid 1px #e08f15e4;
    background-color: #b8b7a8;
   
}*/

/*.empty-cart-icon i{
    font-size: 3.5rem;
    color: #e08f15e4;
    
    border: solid 5px #e08f15e4;*/
    /*border-radius: 50%;
    padding: 30px 50px;
    text-align: center;
}*/


@media (max-width: 670px) {
    .cart-items {
        flex-direction: column;
        
    }

    .main-row {
        width: 100%;
    }

    .cart-summary {
        width: 80%;
        width: 100%;
        /*flex: 0 1 100%;*/
    }



    .checkout-btn {
        width: 65%;
    }
}

@media (max-width: 500px) {
    .cart-item-name {
        max-width: 120px;
        /*border: solid pink 3px;*/
    }
}

@media (max-width: 419px) {
    header, main, footer {
        padding-left: 15px;
        padding-right: 15px; 
    }

    .cart-item-name {
        width: 100px;
    }

    .img-price {
        gap: 5px;
    }

    .checkout-btn {
        width: 100%;
    }
}

@media (max-width: 330px) {
    header, main, footer {
        padding-left: 0;
        padding-right: 0; 
    }

    .navbar, .footer-container,
    .main-header, .cart-list,
    .delivery-option, .payment-method {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .quantity-counter {
        width: 100px;
    }

    .remove-item {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 300px) {
    .img-price {
        flex-direction: column;
    }

    .name-price, .cart-item-total {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
        gap: 10px;
    }

    .cart-item-name {
        width: 50%;
    }

    /*.cart-item-price {
        border: solid green 3px;
    }*/

    .cart-item-image {
        width: 100%;
        height: 100px;
    }

    .quantity-remove {
        flex-direction: column;
        gap: 20px;
    }

    .quantity-counter, .remove-item {
        width: 100%;
    }
}


@media (max-width: 300px) {
    .name-price, .cart-item-total {
        flex-direction: column;
        gap: 0px;
    }
}

@media (max-width: 220px) {
    .cart-summary p {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}
