body {
    font-size: 18px;
}
.forgot-password-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.forgot-password-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.forgot-password-container form {
    display: flex;
    flex-direction: column;
}

.forgot-password-container label {
    margin-bottom: 5px;
}

.forgot-password-container input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.forgot-password-container button {
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.forgot-password-container button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    display: none;
    margin-top: 10px;
    /*background-color: #ffe7e7;*/
}

i {
    color: rgb(255, 56, 56);
}

.login-link {
    margin-top: 20px;
    text-align: center;
}
